@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="row">
    <div class="col-md-6">
        <h2>Welcome to DM admin for Identity Server</h2>           
        <p>Please create a new account</p>     
    </div>
    <div class="col-md-6">
       
    </div>
    
</div>
