@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="row">
    <div class="col-md-3">
        <h2>Welcome to DM identity Server</h2>    
        <p><a href="mailto:diego@dmm888.com?Subject=Request%20credentials" target="_top">Contact the owner to request account credentials:</a></p>
    </div>
  
</div>
